[submodule "l10n_cl_fe"]
	path = l10n_cl_fe
	url = https://gitlab.com/dansanti/l10n_cl_fe
	branch = 13.0
[submodule "addons-konos"]
	path = addons-konos
	url = https://github.com/KonosCL/addons-konos
	branch = 13.0
